* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    list-style: none;
    
}

.left-bar ul {
    list-style: none;
    padding: 0;
    
}

.left-bar li {
    margin-bottom: 10px;
    
}

.left-bar a {
    display: block;
    padding: 10px;
    background-color: #ffffff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.left-bar a:hover {
    background-color: #ccc;
    transform: scale(1.03);
}

